{% extends "base.html" %}

{% block title %}
  <title>Soliar - Login</title>
{% endblock %}

{% block content %}
  <div class="hero centered">
    <div class="header">
      <a href="{{ url_for('index') }}">
        <h1 class="logo">Solair</h1>
      </a>
      <div class="empty-div"></div>
    </div>
    <div class="main-login-container">
      <div class="secondary-login-container">
        <h1>Login</h1>
        <div class="line-break"></div>
        <div class="third-login-container">
          <h2>Username:</h2>
          <input type="text" required id="username" placeholder="username...">
          <h2>Password:</h2>
          <input type="password" required id="password" placeholder="password...">
        </div>
        <div class="fourth-login-container">
          <div class="remember-container">
            <h2>Remember Me?</h2>
            <input type="checkbox" id="reminder-checkbox">
          </div>
          <h3>Sign up instead</h3>
        </div>
      </div>
      <div class="linebreak"></div>
    </div>
  </div>
{% endblock %}