{% extends "base.html" %}

{% block title %}
  <title>Soliar - Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="header">
  <a href="{{ url_for('index') }}">
    <h1 class="logo">Solair</h1>
  </a>
  <div class="empty-div"></div>
</div>
  <div class="card-wrapper">
    <div class="login-card">
      <h1 class="center">Create an Account</h1>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.username(class="username-input")}}
        <!--{{ form.email(class="username-input")}}-->
        <!--{{ form.email }}-->
        {{ form.password(class="password-input")}}
        <h2>Already Registered? <a href="{{ url_for('login')}}">Login Here</a></h2>
        {{ form.submit }}
        {% if form.username.errors %}
        <div class="error">{{ form.username.errors[0] }}</div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}